.canvasContainer {
    border: 1px solid #e5e7eb;
    background-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    /* 8px */
    touch-action: none;
    cursor: crosshair;
}